## Visual Studio 临时文件和文件夹
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## 构建结果
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio 缓存/IDE 文件
*.vsidx
*.vspscc
*.vsp
*.vsscc

## 其他
*.swp
*~
.DS_Store
